{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block styles %}
    <link href="{% static "music/css/news.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% include 'includes/articles_header.html' %}
    <!--/.blog-intro -->
    <div class="blog-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-centered blog-left">
                    <div class="bl-inner">
                        {% include 'includes/article_post.html' with description=article.content details=True %}
                        <div class="RecommendedBlog clearfix text-center">
                            <div class="h2 RecommendedTitle">Recommended</div>
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                                    <div class="blog-rc-item"><a href="article.html"> <span class="rcimg"><img
                                            src="images/blog/unnamed.jpg" class="img-responsive" alt="img"></span> <span
                                            class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                                    <div class="blog-rc-item"><a href="article.html"> <span class="rcimg"><img
                                            src="images/blog/unnamed2.jpg" class="img-responsive" alt="img"></span> <span
                                            class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                                    <div class="blog-rc-item"><a href="article.html"> <span class="rcimg"> <img
                                            src="images/blog/unnamed3.jpg" class="img-responsive" alt="img"></span> <span
                                            class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                                    <div class="blog-rc-item"><a href="article.html"> <span class="rcimg"><img
                                            src="images/blog/unnamed4.jpg" class="img-responsive" alt="img"></span> <span
                                            class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gap"></div>
{% endblock content %}