{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block styles %}
    <link href="{% static "music/css/news.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% include 'includes/articles_header.html' %}
    <!--/.blog-intro -->
    <div class="blog-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-centered blog-left">
                    <div class="bl-inner">
                        {% for article in articles %}
                            {% include 'includes/article_post.html' with description=article.excerpt details=False %}
                            <!--/.item-blog-post-->
                        {% empty %}
                            <h2>Sorry, no results found.</h2>
                        {% endfor %}
                        <div class="loadMoreBlog clearfix text-center"><a class="btn btn-block">LOAD MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.blogwrapper -->
{% endblock content %}