{% extends "layouts/base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block styles %}
    <link href="{% static "music/css/news.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% include 'includes/articles_header.html' %}
    <!--/.blog-intro -->
    <div class="blog-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-centered blog-left">
                    <div class="bl-inner">
                        {% include 'includes/article_post.html' with description=article.content details=True %}
                        <div class="RecommendedBlog clearfix text-center">
                            <div class="h2 RecommendedTitle">Recommended</div>
                            <div class="row">
                                {% for article in recommended_articles %}
                                <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                                <div class="blog-rc-item">
                                    <a href="{% url 'article' article.slug %}">
                                    <span class="rcimg">
                                        {% thumbnail article.first_image.image "593x722" as img %}
                                            <img class="img-responsive" alt="{{ img.alt }}" src="{{ img.url }}" class="img-responsive">
                                        {% endthumbnail %}
                                    </span>
                                    <span class="h4">{{ article.title }}</span></a></div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gap"></div>
{% endblock content %}