{% extends "layouts/base.html" %}

{% load thumbnail %}
{% load staticfiles %}

{% block content %}

    <div class="container-fluid main-container headerOffset">
        <div class="row">
            <!--left column-->
            <div class="col-lg-2 col-md-3 col-sm-12">
                <div class="panel-group" id="accordionNo">
                    {% include 'includes/items_filter_category.html' with filter=category_results %}
                    {% for facet_result in facet_results %}
                        {% include 'includes/items_filter.html' with filter=facet_result %}
                    {% endfor %}
                </div>
            </div>

            <!--right column-->
            <div class="col-lg-10 col-md-9 col-sm-12">
                <div class="w200 productFilter clearfix">
                    <h2 class="pull-left">{{ category.name }} ({{ object_list.hits.total }})</h2>
                    <div class="pull-right ">
                        {% if orderings %}
                        <div class="change-order pull-right">
                            <select class="form-control" onchange="if (this.value) window.location.href=this.value">
                                {% for ordering in orderings %}
                                <option value="?{{ ordering.querystring }}" {% if ordering.active %}selected{% endif %}>
                                    {{ ordering.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}
                        <div class="change-view pull-right"><a href="#" title="Grid" class="grid-view"> <i
                                class="fa fa-th-large"></i> </a> <a href="#" title="List" class="list-view "><i
                                class="fa fa-th-list"></i></a></div>
                    </div>
                </div>
                <!--/.productFilter-->
                <div class="row  categoryProduct xsResponse clearfix">
                    <!-- Display results... -->
                    {% for result in object_list %}
                        {% include 'includes/items_item.html' with filter=facet_result %}
                    {% empty %}
                        <h2>Sorry, no results found.</h2>
                    {% endfor %}
                    <!--/.item-->
                </div>
                <!--/.categoryProduct || product content end-->

                {% if is_paginated %}
                <div class="text-center">
                    {% include 'includes/pagination.html' with page_obj=page_obj %}
                </div>
                {% endif %}
                <!--/.categoryFooter-->
            </div>
            <!--/right column end-->
        </div>
        <!-- /.row  -->
    </div>

{% endblock content %}
