{% load thumbnail %}

<div class="item-blog-post">
    <div class="post-header clearfix">
        <h2 class="wow fadeIn" data-wow-duration="0.2s"><a href="{% url 'article' article.slug %}">{{ article.title }}</a></h2>
        <div class="post-info"> by <span><a class="userBy">{{ article.publisher.get_full_name|default:article.publisher.username }}</a></span> on
            <span>{{ article.published_at|date }}</span>
            <div class="share-gallery pull-right no-float-xs"><a class="share-facebook">
                <i class="fa fa-facebook-f"></i></a><a class="share-twitter" href="http://facebook.com">
                <i class="fa fa-twitter"> </i> </a> <a class="share-pinterest" href="http://facebook.com">
                <i class="fa fa-pinterest-p"></i></a><a class="share-email" href="#">
                <i class="fa fa-envelope-o"></i></a>
            </div>
        </div>
    </div>
    <div class="post-main-view">
        {% if article.has_images %}
        <div class="post-lead-image wow fadeInDown" data-wow-duration="0.2s">
            <a href="{% url 'article' article.slug %}">
                <img src="{{ article.first_image.image.url }}" class="img-responsive" alt="{{ article.first_image.image.alt }}">
            </a>
        </div>
        {% endif %}
        <div class="post-description wow fadeInDown" data-wow-duration="0.2s">
            {{ description|safe }}
        </div>
        {% if not details %}
        <a href="{% url 'article' article.slug %}" class="btn btn-more">See More<i class="fa fa-long-arrow-right"></i></a>
        {% else %}
        <div id="blueimp-gallery" class="blueimp-gallery">
            <!-- The container for the modal slides -->
            <div class="slides"></div>
            <!-- Controls for the borderless lightbox -->
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
            <!-- The modal dialog, which will be used to wrap the lightbox content -->
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body next"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left prev">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                Previous
                            </button>
                            <button type="button" class="btn btn-primary next">
                                Next
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="links">
            {% for image in article.images.all|slice:"1:" %}
            <a href="{{ image.image.url }}" title="{{ image.title }}" data-gallery>
                <img src="{% thumbnail image.image "75x75" as img %}{{ img.url }}{% endthumbnail %}" alt="{{ image.alt }}">
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>