<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse{{ filter.name }}" class="collapseWill active">
                  {{ filter.title }} <span class="pull-left"> <i class="fa fa-caret-right"></i></span>
            </a>
        </h4>
    </div>
    <div id="collapse{{ filter.name }}" class="panel-collapse collapse {% if filter.selected or filter.show %}in{% endif %}">
        <div class="panel-body smoothscroll maxheight300">
            {% for filter_data in filter.results %}
                <div class="block-element">
                    <div class="checkbox checkbox-success">
                        <input class="styled" type="checkbox" {% if filter_data.selected %}checked{% endif %}>
                        <label>
                            <a href="?{{ filter_data.querystring }}">
                            {{ filter_data.name }} ({{ filter_data.count }})
                            </a>
                        </label>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
