{% load compress %}
{% load staticfiles %}
{% load mptt_tags %}
{% load account socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "music/ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "music/ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "music/ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "ico/apple-touch-icon-57-precomposed.png" %}">
    <link rel="shortcut icon" href="{% static "music/ico/favicon.png" %}">
    <title>MUSICIAN STASH - Music gear collection</title>

    {% compress css %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "music/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "music/css/awesome-bootstrap-checkbox.css" %}" rel="stylesheet">

    <!-- styles needed by swiper slider -->
    <link href="{% static "music/plugins/swiper-master/css/swiper.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "music/css/style.css" %}" rel="stylesheet">
    <link href="{% static "music/css/home-v7.css" %}" rel="stylesheet">
    <link href="{% static "music/css/skin-black.css" %}" rel="stylesheet">

    <!-- Additional styles in templates that extend this template -->
    {% block styles %}{% endblock styles %}

    {% endcompress %}

    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- include pace script for automatic web page progress bar  -->

    <script>
        paceOptions = {
            elements: true
        };
    </script>
    <script src="{% static "music/js/pace.min.js" %}"></script>
</head>

<body>

{% include 'includes/header.html' %}

{% block content %}{% endblock content %}

{% include 'includes/footer.html' %}

<!-- Le javascript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="{% static "music/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "music/plugins/swiper-master/js/swiper.jquery.min.js" %}"></script>
<script>

    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: '.swiper-pagination',
        nextButton: '.arrow-right',
        prevButton: '.arrow-left',
        // effect: 'cube',
        keyboardControl: true,
        parallax: true,
        speed: 600,
        spaceBetween: 0
    });

</script>

<!-- include jqueryCycle plugin -->
<script src="{% static "music/js/jquery.cycle2.min.js" %}"></script>

<!-- include easing plugin -->
<script src="{% static "music/js/jquery.easing.1.3.js" %}"></script>

<!-- include  parallax plugin -->
<script type="text/javascript" src="{% static "music/js/jquery.parallax-1.1.js" %}"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="{% static "music/js/helper-plugins/jquery.mousewheel.min.js" %}"></script>

<!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

<script type="text/javascript" src="{% static "music/js/jquery.mCustomScrollbar.js" %}"></script>

<!-- include grid.js // for equal Div height  -->
<script src="{% static "music/js/grids.js" %}"></script>

<!-- include carousel slider plugin  -->
<script src="{% static "music/js/owl.carousel.min.js" %}"></script>

<!-- jQuery select2 // custom select   -->
{#<script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>#}

<!-- include touchspin.js // touch friendly input spinner component   -->
<script src="{% static "music/js/bootstrap.touchspin.js" %}"></script>

<!-- include custom script for only homepage  -->
<script src="{% static "music/js/home.js" %}"></script>
<!-- include custom script for site  -->
<script src="{% static "music/js/script.js" %}"></script>
<script src="{% static "music/js/sidebar-nav.js" %}"></script>
{#<script src="{% static "turbolinks/turbolinks.js" %}"></script>#}

<script type="text/javascript">
    $(function () {
        var target = $("div.has-overly-shade"),
                targetHeight = target.outerHeight();
        $(document).scroll(function () {
            var scrollPercent = (targetHeight - window.scrollY) / targetHeight;
            scrollPercent >= 0 && (target.css("background-color", "rgba(0,0,0," + (1.1 - scrollPercent) + ")"))
        })
    });


    $(function () {
        if (navigator.userAgent.match(/(iPod|iPhone|iPad|Android)/)) {
            $('#ios-notice').removeClass('hidden');
            $('.parallax-container').height($(window).height() * 0.5 | 0);
        } else {
            $(window).resize(function () {
                var parallaxHeight = Math.max($(window).height() * 0.7, 200) | 0;
                $('.parallax-container').height(parallaxHeight);
            }).trigger('resize');
        }
    });


    $(document).ready(function () {
        var isMobile = function () {
            //console.log("Navigator: " + navigator.userAgent);
            return /(iphone|ipod|ipad|android|blackberry|windows ce|palm|symbian)/i.test(navigator.userAgent);
        };

        if (isMobile()) {
            // For  mobile , ipad, tab
            $('.animateme').removeClass('animateme');
            $('.if-is-mobile').addClass('ismobile');

        } else {
        }


    }); // end
</script>
<!-- Additional scripts in templates that extend this template -->
{% block scripts %}{% endblock scripts %}
</body>
</html>
